# ignore the cache directory created by Sass for quicker compilation.
.sass-cache/

# directories that are created to contain artifacts produced as a result of build
# process.
dist/
intermediate/

# directory containing compressed images from executing 'ant images'.
optimised-images/

# directories created by node & npm.
npm-debug.log
node_modules
